<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="IdentityServer Local" value="./nuget" />
    <add key="ehanlin-nuget" value="http://ehanlin-nuget-695959454.ap-northeast-1.elb.amazonaws.com/v3/index.json" />
  </packageSources>
</configuration>